@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #fff;
}

.info1, .footer-links-container, .footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: rgba(250, 237, 205, 0.15);
  color: #718096;
  padding: 15px;
  margin-top: 5%;
}

.footer-content {
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-logo img {
  width: 100px;
}

.footer-links {
  list-style-type: none;
  padding: 0 20px;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-social a img {
  width: 30px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }
  .footer-links-container {
    flex-direction: column;
    align-items: center;
  }
  .footer-links {
    padding: 10px 0;
  }
  .footer-social {
    margin-top: 20px;
  }
}
.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(250, 237, 205, 0.15);
}

.boton-conoce-mas {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  text-decoration: none;
  margin: px auto;
  text-align: center;
  color: #fff;
  border: 2px solid #7FB0CE;
  background-color: #7FB0CE;
  border-radius: 1em;
  font-family: "Nunito";
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 1.25px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.boton-conoce-mas:hover, .boton-conoce-mas:focus {
  color: #fff;
  background-color: #194569;
}

/* Estilos para el botón de enviar */
.formulario input[type=submit] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilos para el botón de enviar al pasar el cursor */
.formulario input[type=submit]:hover {
  background-color: #0056b3; /* Cambia el color de fondo al pasar el cursor */
}

/* Botones-index */
.boton_leer_mas {
  padding: 10px 20px;
  background-color: none;
  color: #0056b3;
  text-decoration: none;
  border: none;
  border-radius: none;
  transition: background-color 0.3s;
}
.boton_leer_mas:hover {
  background-color: #0056b3;
}

/* estilos.css */
.footer-links a {
  text-decoration: none;
  color: inherit;
}

.banner-index {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  background: linear-gradient(rgba(25, 69, 105, 0.74), rgba(25, 69, 105, 0.74)), url(/Imagen/18.jpg);
  width: auto;
  height: 300px;
  flex-shrink: 0;
  background-size: cover;
}
@media only screen and (min-width: 768px) {
  .banner-index {
    display: flex;
    height: 500px;
  }
}
@media only screen and (min-width: 1200px) {
  .banner-index {
    justify-content: space-between;
    align-items: center;
  }
}

/*********************Titulo y boton **************************/
.texto-y-boton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .texto-y-boton {
    margin-left: 5%;
    flex: 1;
  }
}
@media only screen and (min-width: 1200px) {
  .texto-y-boton {
    margin: 0;
    margin-left: 5%;
    width: 20%;
  }
}

.Principal-titulo-index {
  display: flex;
  width: auto;
  height: auto;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin-bottom: 15px;
  color: white;
  font-family: "Nunito";
  font-size: 50px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
}

.circulo1 h3, .circulo1 a, .circulo2 a, .circulo3 a {
  margin: 0;
  padding: 5px;
}

.centro {
  display: grid;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  color: #194569;
  font-family: "Nunito";
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  margin-bottom: 4%;
}

.seccion-index {
  margin: 5%;
}

.beneficio-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.b1 {
  color: #F5F5F5;
  text-align: center;
  font-family: "Nunito";
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
}

.circulo1, .circulo3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 250px;
  height: 250px;
  flex-shrink: 0;
  border-radius: 50%;
  background: #7FB0CE;
  padding: 10px;
  transition: transform 0.5s ease;
}
.circulo1:hover, .circulo3:hover {
  transform: scale(1.2);
}

.circulo2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 250px;
  height: 250px;
  flex-shrink: 0;
  border-radius: 50%;
  background: rgba(247, 122, 106, 0.75);
  padding: 20px;
  transition: transform 0.5s ease;
}
.circulo2:hover {
  transform: scale(1.2);
}

@media only screen and (min-width: 768px) {
  .beneficio-index {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
  }
  .centro {
    font-size: calc(30px + 2vw);
  }
}
@media only screen and (min-width: 1200px) {
  .beneficio-index {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
  }
  .centro {
    font-size: calc(30px + 3vw);
  }
}
.sub2 {
  color: var(--Gray-gray-600, #718096);
  text-align: center;
  font-family: Nunito;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  line-height: 30px;
}

.serv1 {
  border: 1px solid #ccc;
  padding: 20px;
  width: 100%;
  max-width: 450px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
}
.serv1 img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.serv1 .serv1-sub {
  margin-top: 15px;
}
.serv1 .serv1-sub .serv1-titulo {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.serv1 .serv1-sub .serv1-letra {
  font-size: 1em;
  margin-bottom: 20px;
}

.seccion2-index {
  margin-bottom: 5%;
}

.servicio-index {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%; /* Espacio entre las imágenes */
}

.sub2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .servicio-index {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
  }
  .serv1 {
    margin: 20px;
  }
}
@media (max-width: 1200px) {
  .servicio-index {
    flex-direction: column; /* Mantiene la disposición de las imágenes a vertical */
    gap: 10px; /* Ajusta el espacio entre las imágenes, si es necesario */
  }
}
.carousel-item h5,
.carousel-item p {
  display: block;
  padding: 10px 20px;
  margin-top: 10%;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.seccion3 {
  padding: 2%;
}

.carousel-item h5,
.carousel-item p {
  display: block;
  margin: 30px 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: rgba(0, 0, 0, 0.5);
}

.quienes {
  margin: 3%;
  background-color: rgba(250, 237, 205, 0.15);
}

.titulo-quienes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  padding: 10px;
  margin-bottom: 15px;
  color: #194569;
  font-family: "Nunito";
  font-size: 50px;
  font-weight: 600;
  line-height: 65px;
}

.container-somos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Nunito";
  font-size: 24px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0.25px;
}

.p-quienes {
  font-family: "Nunito";
  margin: 10px 5px 0;
}

.image-quienes {
  width: 75%;
  margin: 20px 0 0;
  border-radius: 15px;
  transition: transform 0.5s ease;
}
.image-quienes:hover {
  transform: scale(1.2);
}

.navbar-nav .nav-link:hover {
  color: black;
}

.banner-cursos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  background: linear-gradient(rgba(25, 69, 105, 0.74), rgba(25, 69, 105, 0.74)), url(../Imagen/16.jpg);
  width: auto;
  height: 392px;
  flex-shrink: 0;
  background-size: cover;
  position: relative;
}

.Cursos {
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Nunito;
  font-size: 64px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 30px;
}

.TextoCurso {
  color: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Nunito;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.Card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3%;
  margin: 20px;
}

.card-solo {
  flex-basis: -15%;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 5px 5px;
}
.card-solo img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.card-titulo {
  display: flex;
  color: #000;
  font-family: Nunito;
  font-size: 36px;
  font-weight: 500;
  line-height: 40px;
  padding: 20px 5px;
}

.card-letra {
  color: var(--Gray-gray-600, #718096);
  font-family: Nunito;
  font-size: 13px;
  text-align: justify;
  padding: 0px 10px;
}

.boton-leer-mas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .banner-cursos {
    height: 500px;
  }
  .Card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .card-solo {
    flex: 1 1 40%;
    margin: 1%;
  }
}
@media (min-width: 1020px) {
  .banner-cursos {
    height: 600px;
  }
  .Card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .card-solo {
    flex: 1 1 20%;
    margin: 1%;
  }
}
.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(250, 237, 205, 0.15);
}

.banner-traduccion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background: linear-gradient(rgba(25, 69, 105, 0.74), rgba(25, 69, 105, 0.74)), url(../Imagen/pexels-polina-tankilevitch-4443191.jpg);
  width: auto;
  height: 392px;
  flex-shrink: 0;
  background-size: cover;
  position: relative;
}

.Trad {
  color: #FFF;
  text-align: center;
  font-family: "Nunito";
  font-size: 45px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 50px;
}

.Texto_traduccion {
  color: #F5F5F5;
  text-align: center;
  font-family: "Nunito";
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.Cotizar {
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  padding: 10px 30px;
  text-decoration: none;
  color: #FFF;
  border: 2px solid #7FB0CE;
  background-color: #7FB0CE;
  border-radius: 1em;
  font-family: "Nunito";
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 1.25px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.Titulo2 {
  color: #194569;
  text-align: center;
  font-family: "Nunito";
  font-size: 45px;
  font-weight: 600;
  line-height: 50px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.beneficio-traduccion2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin: 10px 20px;
}

.card_art, .card_art1 {
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  background: rgba(127, 176, 206, 0.74);
}

.card_art1 {
  background: rgba(247, 122, 106, 0.75);
}

.parrafo {
  text-align: justify;
}

.formulario-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
}
.formulario-contacto form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formulario input[type=text],
.formulario input[type=email],
.formulario input[type=tel],
.formulario textarea,
.formulario select {
  border: 1px solid #ccc; /* Color y grosor del borde */
  padding: 8px; /* Espaciado interno */
  width: 100%; /* Ancho del campo */
  box-sizing: border-box; /* Incluye el borde y el relleno en el ancho total */
  border-radius: 5px; /* Radio de borde para esquinas redondeadas */
  margin-bottom: 10px; /* Espacio entre campos */
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SendCotizar {
  margin-top: 30px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .container-form {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 50px;
  }
  .imagentrad, .formulario {
    flex: 1;
  }
  .imagentrad img {
    width: 400px;
    height: 520px;
    flex-shrink: 0;
    margin-left: 100px;
  }
  .beneficio-traduccion2 {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
  .card_art, .card_art1 {
    width: calc(50% - 30px);
    margin-bottom: 0;
  }
  .SendCotizar {
    margin-bottom: 30px;
  }
}
@media (min-width: 1024px) {
  .container-form {
    max-width: 960px;
    margin: 0 auto;
  }
  .card_art, .card_art1 {
    width: calc(40% - 30px);
  }
}
.info1, .footer-content, .footer-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacte {
  margin: 3%;
}

.form-information-childs, .escribenos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacto-titulo {
  color: #194569;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 36px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.formulario form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.formulario input[type=text],
.formulario input[type=email],
.formulario input[type=tel],
.formulario input[type=submit] {
  width: 280px;
  height: 40px;
  box-sizing: border-box;
}
.formulario input[type=mensaje],
.formulario textarea {
  width: 280px;
  height: 50%;
  box-sizing: border-box;
}
.formulario input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 2px 15px;
  border: none;
  margin-bottom: 20px;
}

.escribenos {
  margin: 5%;
}

.info-childs {
  display: flex;
}

.info1 {
  margin-left: 3%;
}

@media (min-width: 768px) {
  .container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
  }
  .form-information {
    margin-left: 20px;
  }
}
@media (min-width: 1020px) {
  .container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
  }
  .form-information {
    margin-left: 50px;
  }
  .container-Inform {
    display: table-column;
    row-gap: 10px;
  }
  .material-symbols-outlined {
    font-size: 75px;
  }
  .formulario input[type=text],
  .formulario input[type=email],
  .formulario input[type=tel],
  .formulario textarea,
  .formulario input[type=submit] {
    width: 450px;
  }
  .formulario textarea {
    height: 100px;
  }
}

/*# sourceMappingURL=style.css.map */
