* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// colores

$color-principal: #194569;
$color-circulo: #7FB0CE;
$color-circulo2: rgba(247, 122, 106, 0.75);
$color-background: rgba(250, 237, 205, 0.15);

// texto
$color-texto: #F5F5F5;
$familia-fuente: 'Nunito';


