<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Explora nuestros cursos de chino mandarín, desde nivel inicial hasta avanzado. Aprende a tu propio ritmo.">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../Css/style.css">
    <title>MandarinGlobal_Cursos</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary-border">

            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="../Imagen/56.png" alt="mandaringlobal"class="h-25 d-inline-block" style="width: 120px;">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse justify-content-lg-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./Quienes_somos.html">Quienes Somos</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link" href="./Cursos.html">Cursos</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link" href="./Traduccion.html">Traducción</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link" href="./Contacto.html">Contacto</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <!----------------------------------------------------------MAIN----------------------------------------------------------->

    <main>
       <section class="banner-cursos">
        <H2 class="Cursos">Cursos</H2>
        <p class="TextoCurso">El mandarín te esperan 
          Aprende a tu ritmo, vive nuevas aventuras.</p>
       </section>
        <!-----------------------------------------------------CARD------------------------------------------->

        <section class="CardCurso">
          <div class="Card">

            <article class="card-solo">
              <img src="../Imagen/21.jpg" alt="nivelbasico">
             <h3 class="card-titulo">Nivel básico</h3>
             <div class="card-sub">
              <p class="card-letra">Online en vivo</p>
              <p class="card-letra">24 clases  -  3 meses -  2 clases por semana</p>
              <p class="card-letra">Inicia tu viaje al chino mandarín: aprende lo básico y sumérgete en
                 su cultura con nuestro curso dinámico para principiantes.</p> 
             </div>
             <a href="./Contacto.html" class="boton-leer-mas">Contáctanos</a>
            </article>

            <article class="card-solo">
              <img src="../Imagen/24.jpg" alt="nivelintermedio">
              <h3 class="card-titulo">Nivel intermedio</h3>
              <div class="card-sub">
                <p class="card-letra">Online en vivo</p>
                <p class="card-letra">30 clases  -  3 meses -  2 clases por semana</p>
                <p class="card-letra">Inicia tu viaje al chino mandarín: aprende lo básico y sumérgete en su cultura con nuestro curso dinámico para principiantes.</p>
              </div>
              <a href="./Contacto.html" class="boton-leer-mas">Contáctanos</a>
            </article>
      
            <article class="card-solo">
              <img src="../Imagen/23.jpg" alt="nivelavanzado">
              <h3 class="card-titulo">Nivel avanzado</h3>
              <div class="card-sub">
              <p class="card-letra">Online en vivo</p>
              <p class="card-letra">15 clases  -  3 meses -  1 clases por semana</p>
              <p class="card-letra">Inicia tu viaje al chino mandarín: aprende lo básico y sumérgete en su cultura con nuestro curso dinámico para principiantes.</p>
            </div>
            <a href="./Contacto.html" class="boton-leer-mas">Contáctanos</a>
          </article>
 
      
            </div>
        </section>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    </main>
    
</body>
<!----------------------------------------------------------FOOTER---------------------------------------------------------->


<footer class="footer">
    <div class="footer-content">
        <div class="footer-logo">
            <img src="../Imagen/1.png" alt="Logo">
        </div>
        <div class="footer-links-container">
          <ul class="footer-links">
            <li><a href="../views/Quienes_somos.html">Quienes somos</a></li>
            <li><a href="../views/Cursos.html">Cursos</a></li>
          </ul>
          <ul class="footer-links">
            <li><a href="../views/Traduccion.html">Traducción</a></li>
            <li><a href="../views/Contacto.html">Contacto</a></li>
          </ul>
      </div>
        <div class="footer-social">
            <a href="https://www.instagram.com/mandarin__global/"><img src="../Imagen/instagram.png" alt="instagram"></a>
            <a href="https://www.facebook.com/profile.php?id=61555457805279&locale=es_LA"><img src="../Imagen/facebook.png" alt="facebook"></a>
        </div>
    </div>
</footer>
</html>