<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Traducciones rápidas y precisas de chino mandarín, garantizando calidad y compromiso de entrega.">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../Css/style.css">
    <title>MandarinGlobal_Traduccion</title>
</head>
    <!----------------------------------------------------------MAIN----------------------------------------------------------->

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary-border">
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="../Imagen/56.png" alt="mandaringlobal"class="h-25 d-inline-block" style="width: 120px;">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              
              <div class="collapse navbar-collapse justify-content-lg-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./Quienes_somos.html">Quienes Somos</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link" href="./Cursos.html">Cursos</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link" href="./Traduccion.html">Traducción</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link" href="./Contacto.html">Contacto</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
            <!-----------------------------------------------------Banner------------------------------------------->

    <main>
      <section class="banner-traduccion">
        <h2 class="Trad">Traducciones </h2>
        <p class="Texto_traduccion">Chino mandarin - Español</p>
        <a href="#formulario-contacto1" class="Cotizar">Cotizar</a>
      </section>
 
      
            <!-----------------------------------------------------Beneficios------------------------------------------->

      <section class="beneficio-traduccion">
        <h2 class="Titulo2"> ¿Qué te proveemos?</h2>

        <div class="beneficio-traduccion2">
          <article class="card_art1">
            <h3>Rapidez Asegurada</h3>
            <p class="parrafo">Comprometidos con su urgencia, entregamos 
              traducciones exactas y veloces, manteniendo la calidad en cada paso. Reciba su proyecto puntualmente. </p>
          </article>
  
          <article class="card_art">
            <h3>Compromiso con su Contento </h3>
            <p class="parrafo">Su felicidad es nuestra meta. Ofrecemos traducciones fieles y ajustes gratuitos para asegurar su plena 
              satisfacción. Nuestro servicio busca siempre ir más allá de lo esperado.</p>
          </article>
         
          <article class="card_art1">
            <h3>Calidad Suprema </h3>
            <p class="parrafo">
              Cada proyecto es tratado con meticulosa atención al detalle, asegurando que cada palabra refleje fielmente su mensaje original
              Confíe en nosotros para resultados que superan los estándares.
            </p>
          </article>
  
          <article class="card_art">
            <h3>Atención Personalizada</h3>
            <p class="parrafo">Entendemos que cada cliente y proyecto es único. Por eso, brindamos un servicio personalizado, 
              adaptándonos a sus necesidades específicas y ofreciendo asistencia directa y dedicada.</p>
          </article>
        </div> 
      </section>
          <!-----------------------------------------------------Formulario------------------------------------------->

    <section class="formulario-contacto">
      <div class="container-form">
  
        <div >
          <h1 class="SendCotizar">Envíanos para Cotizar</h1>

        <div class="formulario" id="formulario-contacto1">
          <form action="/submit_form" method="post">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
            
            <label for="email">Correo electrónico:</label>
            <input type="email" id="email" name="email" required>
  
            <label for="telefono">Número telefónico:</label>
            <input type="tel" id="telefono" name="telefono" placeholder="Ej: +1234567890" pattern="[+]?[0-9]{1,14}" required>
  
            <label for="pais">Pais:</label>
            <input type="text" id="pais" name="pais" required>
            
            <label for="mensaje">Descripción:</label>
            <textarea id="mensaje" name="mensaje" rows="4" required></textarea>
            
            <input type="submit" value="Enviar">
        </form>
        </div>
      </div>

      <div class="imagentrad">
        <img src="../Imagen/17.jpg" alt="traducciones">
      </div>

    </div>
   

    </section>
    

    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
        
</body>
<!----------------------------------------------------------FOOTER---------------------------------------------------------->

<footer class="footer">
    <div class="footer-content">
        <div class="footer-logo">
            <img src="../Imagen/1.png" alt="Logo">
        </div>
        <div class="footer-links-container">
          <ul class="footer-links">
            <li><a href="../views/Quienes_somos.html">Quienes somos</a></li>
            <li><a href="../views/Cursos.html">Cursos</a></li>
          </ul>
          <ul class="footer-links">
            <li><a href="../views/Traduccion.html">Traducción</a></li>
            <li><a href="../views/Contacto.html">Contacto</a></li>
          </ul>
      </div>
        <div class="footer-social">
          <a href="https://www.instagram.com/mandarin__global/"><img src="../Imagen/instagram.png" alt="instagram"></a>
          <a href="https://www.facebook.com/profile.php?id=61555457805279&locale=es_LA"><img src="../Imagen/facebook.png" alt="facebook"></a>
        </div>
    </div>
</footer>
</html>