// Variables
$background-banner: linear-gradient(rgba(25, 69, 105, 0.74), rgba(25, 69, 105, 0.74)), url(/Imagen/18.jpg);


.banner-index {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    background: $background-banner;
    width: auto;
    height: 300px;
    flex-shrink: 0;
    background-size: cover;
    
    @media only screen and (min-width: 768px) {
      display: flex;
      height: 500px;
    }
  
    @media only screen and (min-width: 1200px) {
      justify-content: space-between;
      align-items: center;
    }
}

/*********************Titulo y boton **************************/
.texto-y-boton {
    display: flex;
    flex-direction: column; // título sobre el botón
    align-items: center; 
    justify-content: center; 
  
    @media only screen and (min-width: 768px) {
      margin-left: 5%; 
      flex: 1; 
    }
  
    @media only screen and (min-width: 1200px) {
      margin: 0; 
      margin-left: 5%;
      width: calc(40% - 20%); 
    }
  }

  .Principal-titulo-index {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin-bottom: 15px; // espacio entre el título y el botón
    color: white;
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
  }
  
  

// BENEFICIOS

$tamano-fuente-grande: 30px;
$tamano-fuente-medio: 25px;
$espaciado-entre-elementos: 20px;
$radio-borde-circulo: 50%;
$ancho-circulo: 250px;
$alto-circulo: 250px;



// Base para el texto dentro de circulos
%texto-base-circulo {
  margin: 0; // Elimina márgenes 
  padding: 5px; // Espaciado interno 
}

.centro {
  display: grid;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  color: $color-principal;
  font-family: $familia-fuente;
  text-align: center;
  font-size: $tamano-fuente-grande;
  font-style: normal;
  font-weight: 600;
  line-height: $tamano-fuente-medio;
  margin-bottom: 4%;
}

.seccion-index {
  margin: 5%;
}

.beneficio-index {
  @include flex-center-column;
  gap: $espaciado-entre-elementos;
}

.b1 {
  color: $color-texto;
  text-align: center;
  font-family: $familia-fuente;
  font-size: $tamano-fuente-grande;
  font-style: normal;
  font-weight: 500;
  line-height: $tamano-fuente-medio;
}

// Clases para círculos
.circulo1, .circulo3 {
  @include flex-center-column;
  width: $ancho-circulo;
  height: $alto-circulo;
  flex-shrink: 0;
  border-radius: $radio-borde-circulo;
  background: $color-circulo;
  padding: 10px;
  transition: transform 0.5s ease; 
  &:hover {
    transform: scale(1.2);
  }
}
 


.circulo2 {
  @include flex-center-column;
  width: $ancho-circulo;
  height: $alto-circulo;
  flex-shrink: 0;
  border-radius: $radio-borde-circulo;
  background: $color-circulo2;
  padding: 20px;
  transition: transform 0.5s ease; 
  &:hover {
    transform: scale(1.2);
  }
}

.circulo1 h3, .circulo1 a, .circulo2 a, .circulo3 a {
  @extend %texto-base-circulo;
}

// Media queries para ajustes responsivos
@media only screen and (min-width: 768px) {
  .beneficio-index {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
  }

  .centro {
    font-size: calc(#{$tamano-fuente-grande} + 2vw);
  }
}

@media only screen and (min-width: 1200px) {
  .beneficio-index {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
  }

  .centro {
    font-size: calc(#{$tamano-fuente-grande} + 3vw);
  }
}
// SERVICIO

// Variables
$color-texto: var(--Gray-gray-600, #718096);
$espaciado-entre-imagenes: 2%;
$espaciado-entre-imagenes-columna: 10px;
$tamano-fuente: 20px;
$peso-fuente: 200;
$linea-altura: 30px;
$ancho-card: 20rem;
$padding-img-top: 5%;
$radio-borde-img: 10px;
$margin-body: 10px;


// Extend para texto común
%texto-comun {
  color: $color-texto;
  text-align: center;
  font-family: Nunito;
  font-size: $tamano-fuente;
  font-style: normal;
  font-weight: $peso-fuente;
  line-height: $linea-altura;
}

.serv1 {
    border: 1px solid $color-borde;
    padding: 20px;
    width: 100%; // Cambia a 100% para ser fluido
    max-width: 450px; // Máximo 450px
    margin: 20px auto; // Centra el artículo cuando sea menor que el máximo
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;

    img {
        width: 100%; // Asegura que la imagen se adapte al contenedor
        height: auto;
        border-radius: $radio-borde-img;
      }
    

  .serv1-sub {
    margin-top: 15px;
    
    .serv1-titulo {
      font-size: 1.5em;
      margin-bottom: 10px;
    }

    .serv1-letra {
      font-size: 1em;
      margin-bottom: 20px;
    }
  }

}

.seccion2-index {
  margin-bottom: 5%;
}

.servicio-index {
  @include flex-center;
  gap: $espaciado-entre-imagenes; /* Espacio entre las imágenes */
}

.sub2 {
  @include flex-center;
  @extend %texto-comun;
}

// Media queries
@media (max-width: 768px) {
    .servicio-index {
        flex-direction: row; // Disposición horizontal en tabletas y arriba
        flex-wrap: wrap; // Permite múltiples filas
        justify-content: center; // Centra los artículos si no llenan una fila completa
        gap: $espaciado-entre-imagenes;
      }

      .serv1 {
        margin: 20px; 
      }
    }

@media (max-width: 1200px) {
  .servicio-index {
    flex-direction: column; /* Mantiene la disposición de las imágenes a vertical */
    gap: $espaciado-entre-imagenes-columna; /* Ajusta el espacio entre las imágenes, si es necesario */
  }
}

// Comentarios

$color-texto-carousel: rgba(0, 0, 0, 0.5);
$fondo-carousel-item: none;
$radio-borde: 5px;
$padding-carousel-item: 10px 20px;
$margin-top-carousel-item: 10%;
$invertir-iconos: rgba(0, 0, 0, 0.5);
$padding-seccion3: 2%;
$ancho-carousel: 80%;
$ancho-max-carousel: 1000px;
$tamano-fuente-grande: 10rem;
$padding-grande: 20px 30px;

// Mixins
@mixin center-flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  // Extends
  %texto-carousel {
    display:block ;
    padding: $padding-carousel-item;
    margin-top: $margin-top-carousel-item;
    color: $color-texto-carousel;
    text-align: center;
  }
  
  .seccion3 {
    padding: $padding-seccion3;
  }
  .carousel-item h5,
  .carousel-item p {
    @extend %texto-carousel; 
    display: block; 
    margin: 30px 0; 
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: $invertir-iconos;
  }





